/* PAGE */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #3fc380;
    font-family: 'Cabin', sans-serif;
}

#nop {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    display: none;
    width: 90%;
    margin: auto;
    font-size: 200%;
}

#nop span {
    width: 90%;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

h1 {
    font-size: 300%;
    font-family: 'Indie Flower', cursive;
}

h1,
h2 {
    text-align: center;
}

.ctn {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: auto -10px;
    vertical-align: top;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #3fc380;
}

#lvl1,
#lvl2,
#lvl3,
#lvl4 {
    display: inline-block;
    text-align: center;
    width: 60%;
    margin: 10vh auto;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

#lvl1:hover,
#lvl2:hover,
#lvl3:hover,
#lvl4:hover {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#lvl1 img,
#lvl2 img,
#lvl3 img,
#lvl4 img {
    width: 70%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #nop {
        display: block;
    }
    body>:not(#nop) {
        display: none;
    }
}

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}