/* Etre sur que la police sois la même partout */
body{
font-family:Courier New;
}

/* Header */
#header{
font-family:Courier New;
}

#header h1{
text-align:center;
}

/* Barre sous les menus */
.hr2{
width:100px; 
color:black; 
background-color:black; 
}

/* Menu */
ul{
list-style-type: none;
padding-left:0;
}

li{
float:left;
width:20%;
margin-left:2%;
margin-right:2%;
}

/* Propriétés + Grossissement des menus */
#nav a:link, #nav a:visited {
display:block;
width:240px;
width:100%;
text-align:center;
margin-left: auto;
margin-right: auto;
text-decoration:none;
color:black;
font-weight: bold;
font-size:1.2em;
transition:.5s;
}

#nav a:hover, #nav a:active {
font-size:1.8em;
transition:.5s;
}

/* Définition de la section */
#section{
margin-top:10px;
padding-left:10px;
}

#section h2{
text-align:center;
}

/* "class" pour appliquer les mêmes propriétés à chaques paragraphes du CV */
.article{
width:85%;
margin:auto;
margin-bottom:10px;
margin-top:10px;
padding:5px;
clear:both;
}

.article h3{
width:100%;
clear:both;
}
/* J'AI MIS DES IMAGES D'ANIMAUX CAR NOUS N'AVONS ENCORE AUCUN PROJET FINI */
.article img{
float:left;
width:40%;
height:40%;
border:solid black 3px;
}

/* Apparition du texte quand la souris est sur l'image (le hover change la couleur du blanc au noir pour l'effet d'apparition */
.article img:hover + p{
color:black;
transition:.3s;
}

.article p{
float:right;
width:50%;
color:white;
transition:.3s;
}

/* Footer */
#footer{
float:right;
bottom:0;
width:99%;
text-align:center;
font-size:0.8em;
margin-top:50px;
text-decoration:none;
}

#footer a{
color:black;
}

footer img{
width:20px;
height:20px;
vertical-align:middle;
}
